// CONTENT ELEMENTS

.Heading
  t-h2()
  .Module:first-child &
    t-h1()

.Heading
.Text
  line-height 1.5

.Table-wrap
  margin-top vr-block(2)
  display flex
  justify-content center
  align-items center
  th
    font-weight bold
    border-bottom-width 1px
    border-bottom-style solid
    border-color inherit
  td
  th
    padding vr-block(.4)
    min-height vr-block(1)
    text-align center
    &:first-child
      text-align left
    &:not(:last-child)
      border-right-width 1px
      border-right-style solid
      border-color inherit

.Prices-wrap
  display flex
  justify-content center

.Card
  padding vr-block(3)
  width vr-block(10)
  text-align center
  material-shadow 1
  margin vr-block(3)
  transition()
  &:hover
    material-shadow 3
  &-title
    margin-bottom .5em
  &-value
    t-h2()
