.Editor
  display flex
  padding-right vr-block(15)
  &-view
    flex-grow 2
    margin vr-block(2) vr-block(3)
    position relative
    box-shadow 0 0 47px 0px rgba(0,0,0,0.29)
  &Toolbar
    overflow-y scroll
    height 100vh
    fixed top 0 right vr-block(.5)
    width @padding-right
    padding vr-block(2) 0 vr-block(1)
    &-label
      display block
      margin vr-block(1) 0 vr-block(.5) 0
    &-button
      margin-top vr-block(1)
      button black

  &State
    display flex
    &-tab
      cursor pointer
      flex-grow 1
      padding vr-block(.5)
      text-align center
      background yellow
      color darkgrey

  &-modulePanel
  &-colorPanel
  &-fontPanel
    color white
    background darkgrey
    padding vr-block(.5)
    margin vr-block(.5) 0
  &-modulePanel
    background grey
  &-colorPanel
    display flex
  &-colorInput
    background transparent
    padding 0
    margin 0
    border none
    width 100%

.ModuleSection
  &-heading
    margin vr-block(1) 0 vr-block(.5)
  &-modules
    display flex

.ModuleTemplate
  background white
  size vr-block(3) vr-block(2)
  margin-right vr-block(.5)
  transition()
  &:hover
    background yellow
    material-shadow 3
  

.InnovationInfo
  padding vr-block(1) vr-block(1) vr-block(1)
  background darkgrey
  color white
  margin vr-block(.5) 0
  &-title
    t-h2()
  &-description
    margin vr-block(.5) 0
    max-height vr-block(2)
    overflow hidden
    text-overflow ellipsis
    &:focus
      max-height vr-block(8)

.PublishButton
  button yellow
  color darkgrey

// STATES
.DropZone
  transition()
  z-index 100
  height 0
  absolute()
  width 100%
  background yellow

.Editor.is-dragging
  .DropZone
    height vr-block(3)
    background yellow

.Editor-analysisPanel
  background black
  padding vr-block(1)

.Button--resultsDownload
  button yellow
  margin-right vr-block(.1)
  color black

.Button--showSurvey
  margin-bottom vr-block(1)
  width 100%
  button black

.EditorPanelHeading
  color white
  margin-bottom vr-block(.5)
