.Overview
  &-heading
    t-h2()
    margin vr-block(.5)
    text-align center

.InnovationCard
  background white
  padding vr-block(.5)
  cursor pointer
  margin vr-block(1)
  size vr-block(6)
  border-radius .2em
  material-shadow 2
  transition()
  &:hover
    material-shadow 4
  &-wrap
    display flex
    flex-wrap wrap
    justify-content flex-start
    align-items center

.InnovationCard--clear
.InnovationCard--create
  color white
  @extend .InnovationCard

.InnovationCard--clear
  background red
.InnovationCard--create
  background green
