.Overview
  &-heading
    t-h2()
    margin vr-block(.5)
    text-align center

.InnovationCard
  background white
  border 1px solid black
  padding vr-block(.5)
  cursor pointer
  margin vr-block(1)
  size vr-block(6)
  border-radius .2em
  &-wrap
    display flex
    flex-wrap wrap
    justify-content flex-start
    align-items center
  
  &:hover
    background black
    color white

.InnovationCard--clear
.InnovationCard--create
  color white
  @extend .InnovationCard

.InnovationCard--clear
  background red
.InnovationCard--create
  background green
